body {
    margin: 0;
    padding: 0;
    background-color: #283593; 
  }

  .h6.text-center {
    color: white;
  }
  figure.text-center, blockquote.blockquote {
    color: white;
  }

footer {
    background-color: rgb(144, 138, 223);
    color: white;
    padding: 10px;
    text-align: center;
}
  
  